@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>This app was created by <strong>Ankita Chaudhari</strong>.</p>
    <p>Student ID: <strong>500237991</strong></p>
</div>